/* stile pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F242%2F417%2Foriginal%2Fcolorful-pastel-triangle-pattern-design-vector.jpg&f=1&nofb=1");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

/* stile barra titolo */

header {
    height: 300px;
    position: relative;
}

.stile-header {
    width: 90%;
    height: 70%;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.banner-titolo {
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-titolo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.testo {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

h1 {
    color: white;
    text-align: center;
    line-height: 70%;
    font-size: 70px;
    padding: 15px;
    font-family: 'Finger Paint', cursive;
}

h3 {
    color: white;
    text-align: center;
    line-height: 70%;
    font-size: 20px;
}

/* stile menu */

.menu {
    height: 35px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 0 0 10px 10px;
}

ul li {
    display: inline-block;
    font-size: 25px;
    padding: 0 15px;
    line-height: 35px;
    color: green;
}


/* stile altri contenitori */

.contenitore {
    height: 100%;
}

aside {
    width: 20%;
    height: 300px;
    float: left;
    padding: 5px;
}

aside .contenitore {
    background-color: pink;
}

main {
    width: 60%;
    height: 500px;
    float: left;
    padding: 5px;
}

main .contenitore {
    background-color: lightgreen;
}

footer {
    height: 200px;
    background-color: lightblue;
}
