/* stile pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F242%2F417%2Foriginal%2Fcolorful-pastel-triangle-pattern-design-vector.jpg&f=1&nofb=1");
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
    position: relative;
}

/* stile barra titolo */

header {
    height: 300px;
    position: relative;
}

.stile-header {
    width: 90%;
    height: 70%;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.banner-titolo {
    height: 100%;
}

.testo {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

h1 {
    color: white;
    text-align: center;
    line-height: 70%;
    font-size: 70px;
    padding: 15px;
    font-family: 'Finger Paint', cursive;
}

h3 {
    color: white;
    text-align: center;
    line-height: 70%;
    font-size: 20px;
}

/* immagine barra titolo */

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-titolo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* menu header */

.menu {
    height: 35px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 0 0 10px 10px;
}

.menu ul li {
    display: inline-block;
    font-size: 25px;
    padding: 0 15px;
    line-height: 33px;
    color: green;
}

.menu li:hover {
    background-color: #ffffff30;
    color: white;
    border-bottom: 2px solid green;
}


/* stile area contenitori */

.container {
    width: 100vw;
    height: 1000px;
    padding: 1% 4% 1% 4%;
}

.contenitore {
    height: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

aside {
    width: 25%;
    height: 300px;
    float: left;
    padding: 5px;
}

/* titolo scritto contenitori */

h4 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #f0f0f0;
    border-radius: 10px 10px 0 0;
}

/* contenitore sinistra indice */

.pages {
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    list-style-type: none;
}

.pages li:hover {
    background-color: #f5f5f5;
    border-bottom: 2px solid lightgreen;
    border-radius: 10px;
    color: lightgreen;
}

/* contenitore centrale post */

main {
    width: 50%;
    height: 500px;
    float: left;
    padding: 5px;
}

.contenitore-post {
    height: 900px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: auto;
}

.post {
    width: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.category {
    display: inline-block;
    padding-bottom: 15px;
}

/* immagini post */

.immagine-post {
    width: 100%;
}

.immagine-post img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.post h4 {
    background-color: white;
    text-align: left;
    padding-bottom: 0;
}

.post p {
    font-size: 17px;
}

/* contenitore barra ricerca dx */

.ricerca h4 {
    background-color: lightgreen;
}

.ricerca {
    height: 150px;
}

 form {
    text-align: center;
    padding-top: 20px;
 }

/* contenitore dei tag a dx */

.cloud {
    margin-top: 15px;
}

.tag {
    text-align: center;
    padding-top: 5px;
}

.tag a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    overflow: auto;
}

.tag a:hover {
    color: lightgreen;
    text-decoration: underline;
}

/* footer */

footer {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    padding-top: 30px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

h5 {
    color: black;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    font-family: 'Finger Paint', cursive;
}

h6 {
    color: black;
    text-align: center;
    font-size: 15px;
}
